@charset "UTF-8";
/* reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	text-align: center;
	vertical-align: baseline;
	}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
:focus {outline: 0;}
/* content */
body {
	background: #0f0f0f url(http://dl.dropbox.com/u/4776753/schimmel.jpg) no-repeat fixed bottom left;
	}
body, a {
	color: #e6e6e6;
	text-decoration: none;
	}
p {margin: 25% 0;}
a:hover {color: #000;}
